.navbar-right {
    float: left !important;
}

#header .navbar-form .search-condition {
    left: 0;
    right: auto;
}

.subnavbar .mainnav {
    float: right;
}

.subnavbar .subnavbar-right {
    float: left;
}

.subnavbar .subnavbar-form {
    float: right;
}

.subnavbar .mainnav > li {
    float: right;
}

.widget .widget-header .buttons {
    float: left !important;
}

.widget .widget-header h3 {
    right: 25px;
    left: auto;
}

.widget .widget-header .line {
    float: left;
}

.summary-right-layout {
    padding-left: 5px;
    padding-right: 25px;
}

.float-right {
float:left;
}

.float-left {
    float:right;
}

.text-right {
    text-align:left;
}

.text-left {
    text-align:right;
}

.clear-col-left-padding{
    padding-right:0px !important;
}
.clear-col-right-padding{
    padding-left:0px !important;
}

@media (max-width: 992px) {
    .clear-col-left-padding{
        padding-right:15px !important;
    }
    .clear-col-right-padding{
        padding-left:15px !important;
    }
}