<link rel="stylesheet" href="~/Content/app/inspection-summary.css" type="text/css" />
<link rel="stylesheet" href="~/Content/app/permits.css" type="text/css" />
<link rel="stylesheet" href="~/Content/jquery-ui-1.10.0.custom.css" type="text/css" />

<div class="main">
    <div class="container">
        <div ng-controller="ConfirmController">
            <div ng-view>
            </div>
            <div ng-include src="'/AppViews/Common/Confirm.html'"></div>
            <div ng-include src="'/AppViews/Common/MessageBox.html'"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Scripts/CommonJs/Pin/jquery.pin.inspection.js"></script>
<script type="text/javascript" src="~/Scripts/Jquery/jquery-ui-1.10.0.custom.min.js"></script>
<script type="text/javascript" src="~/Scripts/Jquery/jquery.gritter.min.js"></script>
<script type="text/javascript" src="~/Scripts/Jquery/jquery.peity.min.js"></script>














