
<div class="row">
    <div class="col-md-12">
        <div id="scroll-pane" onscroll="Scrollbottom(this);" class="mydashboard-croll-pane-tables">
            <div class="mydashboard-tablelist-scroll">
                <div class="row mydashboard-inspectionlist" id="{{item.id}}" ng-click="SetBorder(item.id);" style="margin-left:0px;margin-right:0px;" ng-repeat="item in recordList  | orderBy:Filed:rev">
                    <div class="col-md-3  mydashboard-tablelist-address">
                        <div class="row">
                            <div class="col-md-12 clear-col-left-padding clear-col-right-padding">
                                <ul class="list-inline">
                                    <li class="mydashboard-address-icon">
                                        <img class="mydashboard-disable-img" src="/Images/Ico/MapPoint.png" />
                                    </li>
                                    <li class="mydashboard-address-display"><a ng-click="SetCookie(item.id,item.id,365);" href="#/InspectionSummary/{{item.type.group}}/{{item.id}}">{{item.address.houseNumberStart}} {{item.address.streetName}} Dr,{{item.address.city}} {{item.address.postalCode}}</a></li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="mydashboard-li"></li>
                                    <li class="mydashboard-address-id">{{item.recordId.customId}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row mydashboard-tablelist-inspectiontype">
                            <div class="col-md-12 asap-11-b">
                                <ul class="list-inline">
                                    <li class="mydashboard-li">
                                        <img class="mydashboard-disable-img"  src="/Images/Ico/InspectionType.png" />
                                    </li>
                                    <li class="mydashboard-inspectiontype-display">{{item.type.value}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row mydashboard-tablelist-permittype">
                            <div class="col-md-12">
                                <ul class="list-inline">
                                    <li class="mydashboard-li">
                                        <img class="mydashboard-disable-img"  src="/Images/Ico/RecordType.png" />
                                    </li>
                                    <li class="mydashboard-permittype-display">
                                        <span ng-show="item.recordType.type!=item.recordType.subType">
                                            {{item.recordType.type}} {{item.recordType.subType}}
                                        </span>
                                        <span ng-show="item.recordType.type==item.recordType.subType">
                                            {{item.recordType.type}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mydashboard-Contact">
                        <div class="row">
                            <div class="col-md-12 mydashboard-Contact-margin">
                                <ul class="list-inline">
                                    <li class="mydashboard-li">
                                        <c id="Contact{{item.id}}" class="glyphicon glyphicon-user contact-icon icosize mydashboard-disable-img"></c>
                                    </li>
                                    <li class="mydashboard-Contact-title">Contact</li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="mydashboard-li"></li>
                                    <li class="mydashboard-Contact-name">{{item.requestorFirstName}}  {{item.requestorMiddleName}}  {{item.requestorLastName}}</li>
                                </ul>
                                <ul class="list-inline">
                                    <li class="mydashboard-li"></li>
                                    <li class="mydashboard-Contact-phonenumber">{{item.requestorPhoneNumber}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mydashboard-tablelist-scheduledate">
                        <div class="row" ng-show="ReadCookie(item.id);">
                            <div class="col-md-12  mydashboard-new">
                                <p class="text-left">NEW</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list-unstyled">
                                    <li class="mydashboard-scheduledate-title">
                                        {{item.status.value}}
                                    </li>
                                    <li class="mydashboard-scheduledate-display">
                                        <span ng-bind-html-unsafe="formatdate(item.scheduleDate)"></span>
                                    </li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script id="sourcecode" type="text/javascript">
    $(function () {
        setTimeout("Loadscroll()", 200);
    });
    function Loadscroll() {
        var element = $('#scroll-pane').jScrollPane();
        api = element.data('jsp');
        var throttleTimeout;
        $(window).bind(
            'resize',
            function () {
                if (!throttleTimeout) {
                    throttleTimeout = setTimeout(
                        function () {
                            api.reinitialise();
                            throttleTimeout = null;
                        },
                        50
                    );
                }
            }
        );
    }
</script>


